@font-face {
  font-family: "norsebold";
  src: url("./assets/fonts/norse-bold.woff2") format("woff2"),
    url("./assets/fonts/norse-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

body {
  margin: 0;
}

.main-section {
  display: flex;
  height: 100vh;
}

.banner-section {
  display: flex;
  flex: 0 0 33%;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(./assets/images/tamara-bitter-i6MKm6h8vag-unsplash.jpg);
  background-size: cover;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #0000007d;
  padding: 10px;
  margin-block-start: 260px;

  h1 {
    font-family: "norsebold", sans-serif;
    font-size: 6rem;
  }
}

.unsplash-info {
  text-align: center;
  color: #ffffff;
  margin-block-end: 1rem;

  p {
    margin: 0;
  }

  a {
    color: #ffffff;
  }
}
