@font-face {
  font-family: "norsebold";
  src: url("./assets/fonts/norse-bold.woff2") format("woff2"),
    url("./assets/fonts/norse-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

body {
  margin: 0;
}

.main-section {
  display: flex;
  height: 100vh;
}

.banner-section {
  display: flex;
  flex: 0 0 33%;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(./assets/images/tamara-bitter-i6MKm6h8vag-unsplash.jpg);
  background-size: cover;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #0000007d;
  padding: 10px;
  margin-block-start: 260px;

  h1 {
    font-family: "norsebold", sans-serif;
    font-size: 6rem;
  }
}

.unsplash-info {
  text-align: center;
  color: #ffffff;
  margin-block-end: 1rem;

  p {
    margin: 0;
  }

  a {
    color: #ffffff;
  }
}

.form-section {
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #f9fafb;
}

.description {
  max-width: 55ch;
  font-size: 1.5rem;
  font-weight: 600;
  margin-block-start: 15vh;
}

div > h2,
form > section,
.description > p {
  padding-inline-start: 45px;
}

.form-section div:last-child {
  background-color: #ffffff;
}

form section:first-child {
  position: relative;
  box-shadow: 5px 5px 5px #00000030;
  padding-block-end: 1.75rem;

  label {
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
  }

  input {
    border-radius: 4px;
    border: 1px solid #0000003f;
    font-size: 1rem;
    line-height: 1.75;
    padding-inline-start: 0.5rem;
  }

  input:user-invalid {
    border-color: #ff0000;
  }
}

form section:last-child {
  padding-block-start: 1.75rem;
  background-color: #f9fafb;
  padding-inline-start: 45px;
  padding-block-end: 1.75rem;

  button {
    font-size: 1rem;
    font-weight: 600;
    border: 0;
    border-radius: 8px;
    color: #f9fafb;
    background-color: #615a34;
    padding: 1rem 3.5rem;
  }

  button:hover {
    cursor: pointer;
  }

  p {
    font-size: 1.15rem;
    font-weight: 600;

    a {
      color: #615a34;
      text-decoration: none;
    }
  }
}

fieldset,
form section > div {
  display: flex;
  gap: 4rem;
  max-width: 600px;

  & > p {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

div > h2 {
  font-weight: 600;
  padding-block-start: 0.75rem;
  padding-block-end: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;

  legend {
    display: none;
  }
}
