:root {
  box-sizing: border-box;
}

@font-face {
  font-family: "norsebold";
  src: url("/assets/fonts/norse-bold.woff2") format("woff2"),
    url("/assets/fonts/norse-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.banner-section {
  background-image: url(/assets/images/tamara-bitter-i6MKm6h8vag-unsplash.jpg);
}
